.product-container {
    width: 800px;
    font-size: 22px;
    color: white;
    margin: 10px;
    display: inline-block;
  }

.lit-cont {
    margin-top: 20px;
    text-align: left;
    margin-left: 305px;

}

.lit-cont button {  
    font-weight: bold;
    font-size: 25px;
    background-color: blue;
    border: solid 2px black;
    border-radius: 3px;
    color: silver;
    margin-left: 10px;
}

.product-container p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: block;
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.product-container img {
    margin-top: 20px;
    height: 200px;
    width: 300px;
    float: left;
}

.product-container button:hover {
    color: rgb(226, 62, 62);
}