.create-ad {
    text-align: center;
    margin-top: 150px;
}

.create {
    font-size: 27px;
    margin-top: 20px;
    font-weight: bold;
}

.create label {
    display: block;
}

.create input {
    width: 20%;
    height: 30px;
    font-size: 20px;
    background-color: silver;
}

form button {
    background-color: silver;
}