.details-container {
    font-size: 22px;
    color: white;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin-left: 170px;
  }

.lit-det-cont {
    margin-top: 20px;
    text-align: left;
}

.lit-con-btn {
    
    display: block;
    margin-top: 20px;
}

.details-container p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* display: inline-block; */
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color:silver
}
.details-container img {
    margin-top: 20px;
    height: 400px;
    width: 700px;
    float: left;
}

.lit-con-btn button {
    font-weight: bold;
    font-size: 25px;
    background-color: blue;
    border: solid 2px black;
    border-radius: 3px;
    color: silver;
    margin-left: 10px;
}

.details-container button:hover {
    color: rgb(226, 62, 62);
}